<div class="footer-content">
    <footer class="footer-bg">
        <div class="container">
            <div class="row">
                <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <ul class="list-unstyled clear-margins">
                        <li class="widget-container widget_nav_menu">
                            <h1 class="title-widget">Giới thiệu</h1>
                            <ul>
                                <li><a href="/ve-chung-toi"><i class="fa fa-angle-double-right"></i> Về chúng tôi</a></li>
                                <li><a href="/thoa-thuan-su-dung"><i class="fa fa-angle-double-right"></i> Thoả thuận sử dụng</a></li>
                                <li><a href="/quy-che-hoat-dong"><i class="fa fa-angle-double-right"></i> Quy chế hoạt động</a></li>
                                <li><a href="/chinh-sach-bao-mat"><i class="fa fa-angle-double-right"></i> Chính sách bảo mật</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <ul class="list-unstyled clear-margins">
                        <li class="widget-container widget_nav_menu">
                            <h1 class="title-widget">Góc điện ảnh</h1>
                            <ul>
                                <li><a href="/dien-anh"><i class="fa fa-angle-double-right"></i> Thể loại phim</a></li>
                                <li><a href="/binh-luan-phim"><i class="fa fa-angle-double-right"></i> Bình luận phim</a></li>
                                <li><a href="/movie-blog"><i class="fa fa-angle-double-right"></i> Blog điện ảnh</a></li>
                                <li><a href="/phim-hay"><i class="fa fa-angle-double-right"></i> Phim hay tháng</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <ul class="list-unstyled clear-margins">
                        <li class="widget-container widget_nav_menu">
                            <h1 class="title-widget">Hỗ trợ</h1>
                            <ul>
                                <li><a href="/gop-y"><i class="fa fa-angle-double-right"></i> Góp ý</a></li>
                                <li><a href="/sale-and-service"><i class="fa fa-angle-double-right"></i> Sale &amp; Services</a></li>
                                <li><a href="/rap-gia-ve"><i class="fa fa-angle-double-right"></i> Rạp / giá vé</a></li>
                                <li><a href="/tuyen-dung"><i class="fa fa-angle-double-right"></i> Tuyển dụng</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <ul class="list-unstyled clear-margins">
                        <li class="widget-container widget_recent_news">
                            <h1 class="title-widget">Kết nối Galaxy cinema</h1>
                            <div class="social-icons">
                                <ul class="nomargin">
                                    <a href="https://facebook.com/galaxycine.vn" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href="https://www.youtube.com/user/galaxymovies" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                                    <!--a(href='#{config.instagramUrl}' target="_blank")-->
                                    <!--  i#social.icon-instagram-logo.social-inst-->
                                    <a href="https://www.instagram.com/galaxycinema/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="store">
                        <ul class="list-unstyled clear-margins">
                            <li class="widget-container widget_recent_news">
                                <h1 class="title-widget">Download app</h1>
                                <div class="social-icons">
                                    <ul class="nomargin">
                                        <!--a(href='#{config.iosAppUrl}' target="_blank")-->
                                        <a href="https://itunes.apple.com/vn/app/galaxy-cinema/id593312549?l=vi&amp;mt=8" target="_blank"><i class="fa-brands fa-apple"></i></a>
                                        <!--a(href='#{config.androidAppUrl}' target="_blank")-->
                                        <a href="https://play.google.com/store/apps/details?id=com.galaxy.cinema&amp;hl=vi" target="_blank"><i class="fa-brands fa-google-play"></i></a>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="z-index:1" class="container ano-trade">
            <div class="wrap-icon"><a href="http://online.gov.vn/Home/WebDetails/5005"><img alt="" title="" src="../RapChieuPhim/website/images/glx_trade.png" width="150px" height="100%" /></a></div>
        </div>
    </footer>
    <div class="footer-bottom footer-line">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a href="/"><img src="../RapChieuPhim/website/images/galaxy-logo-footer.png" alt="Galaxy Cinema" /></a>
                    <div class="copyright">
                        <p>Công Ty Cổ Phần Phim Thiên Ngân, Tầng 3, Toà Nhà Bitexco Nam Long, 63A Võ Văn Tần, P. Võ Thị Sáu, Quận 3, Tp. Hồ Chí Minh</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>