@model QLRapChieuPhim.Models.ChiTietChieuPhim
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ThemChiTietCP";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm Chi tiết chiếu phim</h1>

<h4>Chi tiết chiếu phim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThemChiTietCP">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaPhong" class="control-label"></label>
                <select asp-for="MaPhong" class="form-control" asp-items="ViewBag.MaPhong"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaPhim" class="control-label"></label>
                <select asp-for="MaPhim" class="form-control" asp-items="ViewBag.MaPhim"></select>
            </div>
            <div class="form-group">
                <label class="login-text" asp-for="GioChieu" class="control-label">Giờ Chiếu</label>
                <select asp-for="GioChieu" class="form-control" asp-items="ViewBag.GioChieu"></select>
            </div>
            <div class="form-group">
                <label class="login-text" asp-for="MaLv" class="control-label">Loại vé</label>
                <select asp-for="MaLv" class="form-control" asp-items="ViewBag.MaLV"></select>
            </div>
            <div id="seat-fields">
                <div class="form-group">
                    <label class="login-text" asp-for="MaGhe" class="control-label">Ghế</label>
                    <select asp-for="MaGhe" class="form-control" asp-items="ViewBag.MaGhe"></select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="admin" asp-action="ChiTietChieuPhim">Back to List</a>
</div>

