@{
    ViewData["Title"] = "DienVien";
    Layout = "~/Views/Shared/_LayoutDienVien.cshtml";
}
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<DienVien>

@foreach (var item in Model)
{
    @await Html.PartialAsync("_PartialDienVien", item)
}

<div style="margin: 0 auto">
    @Html.PagedListPager(Model,page => Url.Action("DienVien", new {page=page}),new X.PagedList.Web.Common.PagedListRenderOptions(){
    LiElementClasses = new List<String> {"page-item"},
    PageClasses = new List<String> {"page-link"}
    })
</div>

