@{
    Layout = "~/Views/Shared/MuaVe.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Phim>

@foreach(var item in Model){
    <li ng-repeat="movie in items.movies" ng-click="getCinemaByMovie(movie,$index)">
        <a href="/themve?maPhim=@item.MaPhim" class="list-group-item movie">
            <div class="showtimes-row">
                <img style="width:40px; height:60px" src="../film/images/@item.AnhDaiDien">
                 <div class="title-movie">
                    <p class="upper-text ng-binding">@item.TenPhim</p>
                </div>
            </div>
        </a>
   

    </li>
}

@Html.PagedListPager(Model,page=>Url.Action("MuaVes",new {page=page} ))