@model QLRapChieuPhim.Models.ThongTinTaiKhoanModels.ThongTinTaiKhoanModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="../LayoutAdmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../LayoutAdmin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form asp-controller="access" asp-action="Register">
                                <div class="form-group row">
                                    <input asp-for="KhachHang.Hoten" type="text" class="form-control form-control-user" id="exampleInputEmail"
                                           placeholder="Nhập họ tên">
                                    <span asp-validation-for="KhachHang.Hoten" class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <input asp-for="User.Username" type="text" class="form-control form-control-user" id="exampleInputEmail"
                                           placeholder="Nhập tài khoản">
                                    <span asp-validation-for="User.Username" class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <input asp-for="User.Password" type="password" class="form-control form-control-user"
                                           id="exampleInputPassword" placeholder="Nhập mật khẩu">
                                    <span asp-validation-for="User.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <input type="submit" value="Register Account" class="btn btn-primary" />
                                </div>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/access/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../LayoutAdmin/vendor/jquery/jquery.min.js"></script>
    <script src="../LayoutAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../LayoutAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../LayoutAdmin/js/sb-admin-2.min.js"></script>

</body>

</html>
